# Ignore environment files and folders
.env
env/

# Ignore sensitive or large data/processing files
db_etl/create_db.ipynb
db_etl/insert_data.ipynb
db_etl/alter_database.py
NYPD_311_HotSpotPrediction.ipynb
